h1 {
  text-align: center;
  font-size: 26px;
  letter-spacing: 5px;

  margin-top: 15vh;
}

input {
  padding: 18px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
  position: relative;
  top: 40px;
  border: none;
  background-color: #101010;
  outline: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

button {
  position: relative;
  top: 90px;
  padding: 15px;
  width: 200px;
  border-radius: 20px;
  border: none;
  background-color: #101010;
  outline: none;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
